//  ?

$color-white: #fff;

$color-grey-primary: #777;
$color-grey-light-section: #f7f7f7;

$section-heading-colors: linear-gradient(
  to right top,
  rgba(17, 153, 142, 0.7),
  rgba(56, 239, 126, 0.7)
);
